<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>L1000</title>
  <link rel="stylesheet" href="/css/tablestyles.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script>
    function adjustOffset(amount, event) {
    // Prevent default form submission behavior
      event.preventDefault();
      // Get the hidden input field for searchArg
      const searchArgField = document.getElementById('searchArg');
      // Decode and parse the JSON string from the hidden field
      let searchArg;
      try {
        searchArg = JSON.parse(searchArgField.value);
        console.log(`searchArg: ${JSON.stringify(searchArg)}`);
      } catch (e) {
        console.error('Error parsing searchArg:', e);
        return;
      }
      // Update offset and limit values
      const currentOffset = parseInt(searchArg.offset, 10) || 0;
      const limit = parseInt(searchArg.limit, 10) || 10;
      // Adjust offset
      searchArg.offset = currentOffset + (amount * limit);
      searchArg.offset = Math.max(searchArg.offset, 0);
      searchArg.limit = limit;
      // Update the hidden input field with the new searchArg
      searchArgField.value = JSON.stringify(searchArg);
      // Log for debugging
      console.log('Updated searchArg:', searchArg);
      console.log('Hidden input value:', searchArgField.value);
      // Submit the form
      document.getElementById('searchForm').submit();
    }
    function changeLimit(newLimit) {
      const searchArgField = document.getElementById('searchArg');
      const searchArg = JSON.parse(searchArgField.value);
      searchArg.limit = newLimit;
      searchArgField.value = JSON.stringify(searchArg);
      document.getElementById('searchForm').submit();
    }

    function changeOrder(order, column, formid) {
      const searchArgField = document.getElementById('searchArg');
      const searchArg = JSON.parse(searchArgField.value);
      searchArg.order = order;
      searchArg.orderfield = column;
      searchArgField.value = JSON.stringify(searchArg);
      document.getElementById(formid).submit();
    }

    function addDescendant(op, valueform, field, formid) {
    // Retrieve the value from the input field
    const searchvalue = document.getElementById(valueform).value;
    console.log('Input Value:', searchvalue); // Debugging output

    // Retrieve and parse the JSON from the hidden field
    const searchArgField = document.getElementById('added_searchArg');
    let searchArg;

    try {
        searchArg = JSON.parse(searchArgField.value);
    } catch (error) {
        console.error('Error parsing JSON:', error);
        return; // Exit function if parsing fails
    }

    // Ensure the searchArg object has a 'descendants' property which is an array
    if (!searchArg.descendants || !Array.isArray(searchArg.descendants)) {
        searchArg.descendants = [];
    }

    const oldSearchArg = {
        op: searchArg.op,
        val: searchArg.val,
        field: searchArg.field,
        descendants: searchArg.descendants
    };


    // Create the new descendant object
    const newDescendant = {
        op: op,
        val: searchvalue,
        field: field
    };

    console.log('Original searchArg:', searchArg);

    console.log('New Descendant:', newDescendant);

    // Add the new descendant object to the 'descendants' array
    searchArg.descendants.push(newDescendant);

    // This assumes you want to combine the original search arguments with the new ones using 'AND'
    const combinedSearchArg = {
        op: 'AND',
        descendants: [oldSearchArg, newDescendant]
    };

    // Update the hidden input field with the new JSON string
    searchArgField.value = JSON.stringify(combinedSearchArg);
    console.log('Updated Descendants:', JSON.stringify(combinedSearchArg.descendants));

    // Submit the form
    document.getElementById(formid).submit();
}
  </script>
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <a href="#" class="logo">L1000</a>
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <div class="menu-toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </nav>

  <main>
    <% if (data && data.length > 0) { %>
      <table>
        <thead>
          <tr>
            <th>Signature Name
              <form
                id="change_order_signaturename" action="/siginfo/search"
                method="post"
              >
                <input type="hidden" id="searchArg"
                name="searchArg"
                value="<%= JSON.stringify(siteSearchArg) %>">
                <button type="button" onclick="changeOrder('ASC', 'sig_name', 'change_order_signaturename')">ASC</button>
                <button type="button" onclick="changeOrder('DESC', 'sig_name', 'change_order_signaturename')">DESC</button>
              </form>
              <form
                id="descendants" action="/siginfo/search"
                method="post"
              >
                <input type="hidden" id="added_searchArg"
                name="searchArg"
                value="<%= JSON.stringify(siteSearchArg) %>">
                <input type="text" id="descendants_value" name="descendants_value" value="">
                <button type="button" onclick="addDescendant('contains', 'descendants_value', 'sig_name', 'descendants')">Search</button>
              </form>
            </th>
            <th>Compound</th>
            <th>Connectivity Map</th>
            <th>Cells</th>
          </tr>
        </thead>
        <tbody>
          <% for (const row of data) { %>
            <tr>
              <% for (const value of Object.values(row)) { %>
                <td><%= value %></td>
              <% } %>
            </tr>
          <% } %>
        </tbody>
      </table>
    <% } else { %>
      <p>No data available</p>
    <% } %>
    <!-- Form button for CHanging Offset-->
    <form
      id="searchForm"
      action="/siginfo/search"
      method="post"
    >
      <input type="hidden" id="searchArg" name="searchArg" value="<%= JSON.stringify(siteSearchArg) %>">
      <button type="button" onclick="adjustOffset(-1, event)">Prev.</button>
      <button type="button" onclick="adjustOffset(1, event)">Next.</button>
    </form>
    <form
      id="searchForm"
      action="/siginfo/search"
      method="post"
    >
      <input type="hidden" id="searchArg" name="searchArg" value="<%= JSON.stringify(siteSearchArg) %>">
      <button type="button" onclick="changeLimit(25)">25</button>
      <button type="button" onclick="changeLimit(50)">50</button>
      <button type="button" onclick="changeLimit(100)">100</button>
    </form>
  </main>
</body>
</html>
